.timetable-container {
  margin-top: 30px;
  max-width: 800px;
  
  
}

.timetable {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
  background-color: #3bcb9eca;
  border: 1px solid black;
}

.timetable, .timetable th, .timetable td {
  border: 1px solid #141313;
}

.timetable th, .timetable td {
  padding: 10px;
  text-align: center;
}
.timetable th{
  background-color: #006d77;
  font-size: 17px;
}
.timetable td{
  background-color: #a0e7e5;
  font-size: 14px;
}