REACT_APP_API_BASE_URL=http://localhost:8000
REACT_APP_AXIOS_WITH_CREDENTIALS=true

# CLOUDINARY
CLOUDINARY_CLOUD_NAME= #CLOUD NAME OF YOUR CLOUDINARY
CLOUDINARY_API_KEY= #API KEY OF YOUR CLOUDINARY
CLOUDINARY_API_SECRET= #API KEY OF YOUR CLOUDINARY
# make 2 folders in root dir of cloudinary
CLOUDINARY_ASSIGNMENT_FOLDER= # example if the folder named Assignments in roots the the value will be: 
# `CLOUDINARY_ASSIGNMENT_FOLDER=Assignments.
CLOUDINARY_SUBMISSION_FOLDER= # example if the folder named Assignments/Submissions in roots the the value will be:
# `CLOUDINARY_ASSIGNMENT_FOLDER=Assignments/Submissions.
