.leave-history-container {
  margin: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
}

.leave-history-title {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.leave-history-table {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
}

.leave-history-approve-text {
  color: green;
  font-weight: bold;
}

.leave-history-cancel-text {
  color: red;
  font-weight: bold;
}
