/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ededed;
    padding: 10px 20px;
    color: rgb(21, 21, 21);
}

.search-bar {
    flex: 1;
    margin-left: 280px;
}

.search-bar input[type="text"] {
    width: 50%;
    padding: 8px;
    border-radius: 4px;
    border: none;
    outline: none;
}

.icons {
    margin-left: 890px;
    display: flex;
    font-size: 30px;
    gap: 20px;
}

.icons .icon {
    
    cursor: pointer;
}
@media (min-width: 600px) {
    .icons {
        margin-left: 130px;
        display: flex;
        font-size: 30px;
        gap: 20px;
    }
  }
  @media (min-width: 500px) {
    .icons {
        margin-left: 90px;
        display: flex;
        font-size: 30px;
        gap: 20px;
    }
  }
  /* Large screens (e.g., desktops) */
  @media (min-width: 992px) {
    .icons {
        margin-left: 990px;
        display: flex;
        font-size: 30px;
        gap: 20px;
    }
   
  }
  @media (min-width: 1292px) {
    .icons {
        margin-left: 1090px;
        display: flex;
        font-size: 30px;
        gap: 20px;
    }
  }
  