* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

/* For modern browsers */
::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

html {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
}

p {
  margin: 0!important;
}