body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3 {
  font-size: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #030303;
  margin-bottom: 20px;
}

.heading-container {
  margin-bottom: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 75%;
}

label {
  color: #000;
}

input, .form-select, .form-control {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 1rem;
  margin-bottom: 10px;
  width: 400px;
}

button {
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  color: #000;
  margin-top: 10px;
}

button:hover {
  background-color: #000;
  color: #fff;
}

.form-content {
  display: flex;
  gap: 20px;
  flex-wrap: nowrap;
}

.doubt-image {
  max-width: 50%;
  height: auto;
  background-color: #ffffff; 
  border-radius: 10px;
}

@media (max-width: 768px) {
  .form-content {
    flex-direction: column;
    align-items: center;
  }

  .form-container {
    width: 100%;
  }

  .doubt-image {
    margin-top: 20px;
  }
}
