body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.content {
    margin-top: 20px;
    background-color: #fff; /* Removed background color */
    margin-left: 270px;
    min-height: 100vh;
    position: relative;
    
  }

h3{
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
  
  .form-select, .form-control {
    border-radius: 5px;
    
    border: 1px solid #ccc; /* Minimal border */
    padding: 10px; /* Consistent padding */
    font-size: 1rem; /* Font size adjustment */
    
  }
  
  
  
  button {
    background-color: transparent;
    border: 1px solid #000; /* Button styling */
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    color: #000;
  }
  
  /* button:hover {
    background-color: #000;
    color: #fff;
  }     remove this button hover it effecting others buttons as well */
  
  .doubt-image {
 
    position: absolute;
    right: 33%;
    top: 38%;
    transform: translate(50%, -50%);
    max-width: 50%;
    max-height: 50%;
    z-index:0;
  }
  
 
  /* Media Queries for Responsiveness */
  @media (max-width: 768px) {
    .content {
      padding: 10px;
    }
  
    .doubt-image {
      max-width: 100%;
      margin-top: 20px;
    }
  
    button {
      width: 100%; /* Full width button on smaller screens */
    }
  }
  