/* src/components/ProfileForm.css */
.profile-form {
  margin-left: 40px;
  margin-top: 40px;
  background-color: #fff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
}

.profile-form h2 {
  margin-bottom: 20px;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.form-row {
  display: flex;
  gap: 20px; /* Adjusted gap for better spacing between inputs */
  margin-bottom: 20px; /* Add margin between rows */
}

.form-row input,
.form-row select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Makes the element respect padding */
}

.submit-btn {
  background-color: #000;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.submit-btn:hover {
  background-color: #333;
}
