#parentdiv {
  display: flex;
  align-items: center;
  width: 100%;
}
#childdiv {
  display: flex;
  width: auto;
  flex-grow: 1;
  justify-content: space-around;
}
nav {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
}
