.teacher-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #ccc;
}

.card {
  border: none;
  text-decoration: none;
}

.card-body {
  padding: 20px 10px;
}

.card-title {
  font-size: 1.2rem;
  font-weight: 600;
  color: #4a5ca7; /* Name color */
}

.card-text {
  color: #9d8eaa; /* Subject text color */
  font-size: 0.9rem;
}

.contact-icons {
  margin-top: 10px;
}

.contact-btn {
  width: 40px;
  height: 40px;
  background-color: #66c6d3; /* Button background */
  color: white;
  font-size: 18px;
  border: none;
  margin: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-btn:hover {
  background-color: #55b2c2; /* Hover background */
}

.contact-btn svg {
  font-size: 20px; /* Icon size */
  color: white; /* Icon color */
}
.contact-btn svg {
  font-size: 20px; /* Icon size */
  color: black;    /* Icon color */
  
}
