/* src/components/Header.css */
.header {
  padding: 15px;
  background-color: #f8f8f8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  position:relative;
  width: 100%;
  top: 0;
  z-index: 1;
}

.search-bar {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.header-icons {
  display: flex;
  gap: 15px;
}

.icon {
  cursor: pointer;
}
