body {
  margin: 0;
  font-family: Arial, sans-serif;
}

#s {
  height: 1000px;
  width: 830px;
  background-color: #d4dfd4;
  padding: 20px;
  margin: 0 auto;
  position: absolute;
  right: 350px;
  top: 200px;
}

.button1 {
  padding: 8px 12px;
  background-color: #e61313; /* Dark green color */
  color: white;
  border: none;
  cursor: pointer;
  margin: 10px 5px;
  border-radius: 5px;
  font-size: 16px;
  margin-left: 30px;
  font-size: large;
}

.button2 {
  padding: 8px 12px;
  background-color: #640026; /* Dark green color */
  color: white;
  border: none;
  cursor: pointer;
  margin: 10px 5px;
  border-radius: 5px;
  font-size: 16px;
  margin-left: 45px;
  font-size: large;
}

.button3 {
  padding: 8px 12px;
  background-color: #200064; /* Dark green color */
  color: white;
  border: none;
  cursor: pointer;
  margin: 10px 5px;
  border-radius: 5px;
  font-size: 16px;
  margin-left: 45px;
  font-size: large;
}

.button4 {
  padding: 8px 12px;
  background-color: #0a14d6; /* Dark green color */
  color: white;
  border: none;
  cursor: pointer;
  margin: 10px 5px;
  border-radius: 5px;
  font-size: 16px;
  margin-left: 45px;
  font-size: large;
}
.button1:hover {
  background-color: #e46f0a; 
}
.button2:hover {
  background-color: #df6c08; 
}
.button3:hover {
  background-color: #df6c08; 
}
.button4:hover {
  background-color: #df6c08; 
}

.timetable-container {
  margin-top: 30px;
  max-width: 800px;
  
}

.timetable {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
  background-color: #3bcb9eca;
}

.timetable, .timetable th, .timetable td {
  border: 1px solid #141313;
}

.timetable th, .timetable td {
  padding: 10px;
  text-align: center;
}
.timetable th{
  background-color: #006d77;
  font-size: 17px;
}
.timetable td{
  background-color: #a0e7e5;
  font-size: 14px;
}

input[type="text"] {
  width: 100%;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
