.app-container {
    display: flex;
    flex-direction: row;
    height: 100vh; /* Ensure full height */
}
.sidebar {
    width: 250px; /* Sidebar fixed width */
    background-color: #2b2b2b; /* Dark background for sidebar */
    padding: 10px;
    flex-shrink: 0; /* Prevent sidebar from shrinking */
}


.video-grid {
    flex-grow: 1; /* Video grid takes remaining space */
    padding: 10px;
    margin-left: auto; /* Push the video grid to the right */
}
