.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2d2c2c;
  padding: 10px 20px;
  color: rgb(15, 13, 13);
}

.search-bar {
  flex: 1;
  position: relative; /* Make the container relative */
  margin-left: 259px;
}

.search-bar input[type="text"] {
  width: 75%;
  padding: 8px 40px 8px 30px; /* Add padding on the right and left to fit the icon */
  border-radius: 4px;
  border: none;
  outline: none;
}

.search-bar .search-icon {
  position: absolute;
  top: 50%;
  left: 10px; /* Position the icon inside the input */
  transform: translateY(-50%);
  font-size: 16px;
  color: #999;
  pointer-events: none; /* Ensure the icon doesn't block input interaction */
}

.icons {
  display: flex;
  font-size: 30px;
  margin-left: 900px;
  color: white;
}

.icons .icon {
  margin-left: 30px;
  cursor: pointer;
}
