/* src/components/Sidebar/Sidebar.css */
.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #333;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    transition: all 0.3s ease;
    overflow-y: auto;
    scrollbar-width: thin;
}

.logo {
    position: relative;
    display: flex;

    margin-bottom: 20px;
    
    
}

.logo img {
    position: relative;
    max-width: 350px;
    margin-left:-24%;
    
    
}

a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.head {
    list-style-type: none;
}

.head li {
    padding-bottom: 15px;
}



@media screen and (max-width: 768px) {
    .sidebar {
        width: 200px;
        left: -200px;
    }

    .sidebar.active {
        left: 0;
    }

    .toggle-btn {
        display: block;
    }
}
