



h1{
  color:black;
}


/* .vl{
  border-left: 1px solid black;
  height: 100%;
} */

 /* .mid-section{
  margin-top: 150px;
  width: 15%;
  font-size: 18px;

 } */

/* .right-section{
  margin-top: 100px;
  width: 56%;
  margin-bottom: 70px;
} */
.library-section{
  width: 71%;
}



.row label {
  font-weight: bold;
  margin-right: 10px; 
  color: #323232;
  font-size: 18px;
  text-align: right; 
  flex: 1; 
}

.row input,
.row select {
  flex: 2; /* Take double width */
  padding: 12px;
  border: 2px solid  #aeaeae; 
  border-radius: 5px;
  font-size: 16px;
  color: #495057;
  transition: border-color 0.3s;
  background-color: rgba(
    255,
    255,
    255,
    0.7
  ); /* Slightly darker transparent white background */
}

.row input:focus,
.row select:focus {
  border-color: #aaffb1;
  box-shadow: 0 0 5px rgba(133, 255, 178, 0.5); /* Adding a slight shine effect */
}

/* App.css */

.main-page {
  padding: 20px;
}



.student-portal-button {
  padding: 10px 20px;
  font-size: 20px;
  border: none;
  background-color: white;
  border-radius: 5px;
  box-shadow: 5px 10px 5px -5px #121212;
  cursor: pointer;
  width: 250px;
}

.digital_library_arrow{
  display: flex;
  align-items: center;
  gap: 15px;
}
.lower_heading_digital_library{
  display: flex;
  justify-content: space-between;
}


.card-search-bar {
  display: flex;
  padding: 10px;
  font-size: 16px;
margin-left: 20px;
justify-content: space-between;
} 

.book-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}
.history-book-list {
  overflow-x: auto;
  width: 70%;
  margin-left: 90px;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}
.history-book-card{
  justify-content: space-between;
}

.book-card {
  border: 1px solid #fffdfd;
  padding: 1px;
  text-align: left;
  width: 150px;
  background-color: rgb(255, 254, 254);
}

.book-card img {
  contain-intrinsic-block-size: auto none;
  width: 100%;
  height: 180px;
}

.book-card h4 {
  font-size: 12px;
}

.book-card p {
  font-size: 10px;
  color: rgb(90, 29, 29);
}

p{
  color: #5c5c5c;
  font-size: 25px;
}
section{
  margin-bottom: 10px;
}


/* //history book  */
.history-book-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
/* .history-book-list {
  display: flex;
  flex-direction: column;
 
} */

.digital-library {
  padding: 20px;
}

.digital-library h1 {
  margin-bottom: 20px;
}

.book-image {
  height: 80px;
  width: 60px;
  object-fit: cover;
}

.book-details {
  flex-grow: 1;
}

.status {
  padding: 2px 5px;
  border-radius: 5px;
}

.status.due {
  background-color: red;
  color: white;
}

.status.read {
  background-color: green;
  color: white;
}

.status.borrowed {
  background-color: yellow;
  color: black;
}

.like-button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 24px;
}

/* popup style */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.borrow-popup-container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}
.popup-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  width: 60%;
}
.borrow-popup-content{
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 350px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.date-picker {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.borrow-btn {
  background-color: gray;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.borrow-btn:hover {
  background-color: darkgray;
}

.open-popup-btn {
  background-color: #595a5b;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.popup-header button {
  border: none;
  font-size: 24px;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.popup-body {
  margin-top: 10px;
  justify-content: center;
  display: flex;
  width: 100%;
}
.card-left{
  width:70%;
  display: flex;
}
.c-left-left{
  width: 200px;
  height: 270px;
}
.c-left-right{
  width: 400px;
  height: 350px;
}
.c-left-right p{
  font-size: 12px;
}
.c-left-bottom{
  width: 400px;
}
.card-right{
  width: 30%;
}
.card-right p{
  font-size: 13px;
}


.CreateBook {
  background-color: #2c3e50;
  min-height: 100vh;
  color: white;
}
.p_btn{
  float: right;
}



.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container {
  background-color: white;
  width: 350px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
  color: #333;
}

.payment-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  font-size: 12px;
  color: gray;
}

.form-group input {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: 14px;
  background-color: #f9f9f9;
  color: #333;
}

.form-row {
  display: flex;
  justify-content: space-between;
}

.form-row .form-group {
  width: 48%;
}

.total-amount {
  text-align: center;
  font-weight: bold;
  margin: 20px 0;
  font-size: 18px;
}

.save-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.save-card input {
  margin-right: 10px;
}

.pay-button {
  width: 100%;
  padding: 10px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  font-weight: bold;
}

.pay-button:hover {
  background-color: #333;
}


.ShowBookDetails {
  background-color: #2c3e50;
  min-height: 100vh;
  color: white;
}

.UpdateBookInfo {
  background-color: #2c3e50;
  min-height: 100vh;
  color: white;
}

.ShowBookList {
  background-color: #2c3e50;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  min-width: 100px;
  color: white;
}

/* BookList Styles */
.list {
  display: grid;
  margin: 20px 0 50px 0;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 2em;
}

.card-container {
  width: 250px;
  border: 1px solid rgba(0,0,.125);
  margin: 0 auto;
  border-radius: 5px;
  overflow: hidden;
}

.desc {
  height: 130px;
  padding: 10px;
}

.desc h2 {
  font-size: 1em;
  font-weight: 400;
}

.desc h3, p {
  font-weight: 300;
}

.desc h3 {
  color: #6c757d;
  font-size: 1em;
  padding: 10px 0 10px 0;
}







